<%= form_for(@tokimon) do |f| %>
  <% if @tokimon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tokimon.errors.count, "error") %> prohibited this tokimon from being saved:</h2>

      <ul>
      <% @tokimon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="text-center">
  <div class="tokifield">
    <%= f.label :name %><br>
    <%= f.text_field :name , :value => (f.object.name || 'No Name'%>
  </div>
  <div class="tokifield">
    <%= f.label :weight %><br>
    <%= f.text_field :weight, :value => (f.object.weight || 0.0) %>
  </div>
  <div class="tokifield">
    <%= f.label :height %><br>
    <%= f.text_field :height, :value => (f.object.height || 0.0) %>
  </div>
  <div class="tokifield">
    <%= f.label :fly %><br>
    <%= f.number_field :fly, :value => (f.object.fly || 0 )%>
  </div>
  <div class="tokifield">
    <%= f.label :fight %><br>
    <%= f.number_field :fight, :value => (f.object.fight || 0 )%>
  </div>
  <div class="tokifield">
    <%= f.label :fire %><br>
    <%= f.number_field :fire, :value => (f.object.fire || 0 ) %>
  </div>
  <div class="tokifield">
    <%= f.label :water %><br>
    <%= f.number_field :water, :value => (f.object.water || 0 )%>
  </div>
  <div class="tokifield">
    <%= f.label :electric %><br>
    <%= f.number_field :electric, :value => (f.object.electric || 0 )%>
  </div>
  <div class="tokifield">
    <%= f.label :ice %><br>
    <%= f.number_field :ice, :value => (f.object.ice || 0 )%>
  </div>
  <div class="tokifield">
    <%= f.label :trainer_id %><br>
    <%= collection_select(:tokimon, :trainer_id, Trainer.all, :id, :name, {prompt: true}, {:required => true}) %>
      </div>
<!--   <div class="tokifield">
    <%= f.label :total %><br>
    <%= f.number_field :total %>
  </div> -->
<!--     <%= f.label :trainer_id %><br>
    <%= f.number_field :trainer_id %> -->
  <br><br>
  <div class="actions" style="font-size:20px;">
    <%= f.submit %>
  </div>
  <br>
  <div class='rubybutton'>
  <%= link_to 'Back to Tokidex', tokimons_path %>
  </div>
  <br>
  </div>
<% end %>
