<body>
<br><br><br>
<div class="text-center">
<p id="notice"><%= notice %></p>

<p>
  <h1>Tokimon: <%= @tokimon.name %></h1>
</p>

<p class="att">
  <strong>Body Type:</strong>
  <%= image_tag(@tokimon.bodytype, size: "70x40") %>
</p>

<p class="att">
  <strong>Weight:</strong>
  <%= @tokimon.weight %>
</p>

<p class="att">
  <strong>Height:</strong>
  <%= @tokimon.height %>
</p>

<p class="att">
  <strong>Fly:</strong>
  <%= @tokimon.fly %>
</p>

<p class="att">
  <strong>Fight:</strong>
  <%= @tokimon.fight %>
</p>

<p class="att">
  <strong>Fire:</strong>
  <%= @tokimon.fire %>
</p>

<p class="att">
  <strong>Water:</strong>
  <%= @tokimon.water %>
</p>

<p class="att">
  <strong>Electric:</strong>
  <%= @tokimon.electric %>
</p>

<p class="att">
  <strong>Ice:</strong>
  <%= @tokimon.ice %>
</p>

<p class="att">
  <strong>Total:</strong>
  <%= @tokimon.fly + @tokimon.fight + @tokimon.fire + @tokimon.water + @tokimon.electric + @tokimon.ice %>
</p>
<br>
<div class="rubybutton">
<br>
<%= link_to 'Edit Stats', edit_tokimon_path(@tokimon) %>
</div>
<h2> Trained By: <h2>
  <p class="att2">
    <strong>Name: <%= link_to @trainers.find(@tokimon.trainer_id).name, @trainers.find(@tokimon.trainer_id) %></strong>
  </p>

  <p class="att2">
    <strong>Level:</strong>
    <%= @trainer.level %>
  </p>
<br><br>
<div class="rubybutton">
<%= link_to 'Back to Tokidex', tokimons_path %> |
<%= link_to 'Show Trainer Card',  @trainers.find(@tokimon.trainer_id) %>
</div>
<br>
</div>
</body>
