<%= form_for(@trainer) do |f| %>
  <% if @trainer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trainer.errors.count, "error") %> prohibited this trainer from being saved:</h2>

      <ul>
      <% @trainer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="text-center">
  <div class="tokifield">
    <%= f.label :name %><br>
    <%= f.text_field :name , :value => (f.object.name || 'No Name')%>
  </div>
  <div class="tokifield">
    <%= f.label :affiliation %><br>
    <%= f.select :affiliation, [['Neutral', 'Neutral.jpg'], ['Apostasy', 'Apostate.jpg'], ['Puritans', 'Puritan.jpg']]%>
  </div>
  <div class="tokifield">
    <%= f.label :level %><br>
    0
  </div>
  <br><br>
  <div class="actions" style="font-size:20px;">
    <%= f.submit %>
  </div>
  <br>
  <div class='rubybutton'>
  <%= link_to 'Back to Trainers', trainers_path %>
  </div>
  <br>
  </div>
<% end %>
