<body>
<br><br><br>
<div class="text-center">
<p id="notice"><%= notice %></p>

<p class="att2">
  <strong>Name:</strong>
  <%= @trainer.name %>
</p>

<p class="att2">
  <strong>Level:</strong>
  <%= @trainer.level %>
</p>

<div class="rubybutton">
<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
<h3> <%= @trainer.name %>'s Tokimon: </h3>
<br>
<table align="center">
<div>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Fly</th>
      <th>Fight</th>
      <th>Fire</th>
      <th>Water</th>
      <th>Electric</th>
      <th>Ice</th>
      <th>Total</th>
    </tr>
  </thead>
</thead>

<tbody>
  <% @alltokimons.each do |tokimon| %>
    <tr>
      <td><%= tokimon.name %></td>
      <td><%= tokimon.weight %></td>
      <td><%= tokimon.height %></td>
      <td><%= tokimon.fly %></td>
      <td><%= tokimon.fight %></td>
      <td><%= tokimon.fire %></td>
      <td><%= tokimon.water %></td>
      <td><%= tokimon.electric %></td>
      <td><%= tokimon.ice %></td>
      <td><%= tokimon.fly + tokimon.fight + tokimon.fire + tokimon.water + tokimon.electric + tokimon.ice%></td>
      <td><%= link_to 'Stats', tokimon %></td>
      <td><%= link_to 'Edit', edit_tokimon_path(tokimon) %></td>
      <td><%= link_to 'Release', tokimon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>

</table>
</div>
</div>
</body>
